ion-content{
  height: 100%;
  
}
ion-content ion-button{
  --background: url(../../assets/imagenes/leon.png);
  --border-radius: 0;
  --background-activated: rgba(13, 0, 133, 0.918);
  --background-hover-opacity:0.5;
  --padding-bottom: 0;
  --padding-end:0;
  --padding-top:0;
  --padding-start:0;
  --background-size: 100% 100%;
}


@media screen and (min-width: 300px) {
.box{
  height: 100%;
  background: url(../../assets/imagenes/fondo.jpg); 
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}
  
}

@media screen and (min-width: 600px) {
  .box{
    height: 100%;
    background: url(../../assets/imagenes/paisaje.png);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  
  }
  
}
.container{
  height: 100%;
}
.row{
  height: 49%;  
}
.col{
  padding: 0;
}
ion-button{
  height: 100%;
}
.grande{/* 
  height: 100%;
  width: 100%; */
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.img:active{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.img:hover{
  -webkit-box-shadow: 0px 0px 66px -11px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px 0px 66px -11px rgba(0,0,0,0.67);
  box-shadow: 0px 0px 66px -11px rgba(0,0,0,0.67);
}

