<ion-header>
  <ion-toolbar>
    <ion-title><b>Tabla Didatica De Idiomas</b> <ion-icon name="log-out" class="ion-float-right" [routerLink]="['/login']" style="cursor:pointer"></ion-icon>
      <!-- <ion-button size="small" float-right (click)="go('/login')">LOGIN</ion-button> -->
      <!-- <ion-button [routerLink]="['/login']">ROUTERLINK</ion-button> -->
      <div style="text-align: center">
        <img src="../../assets/imagenes/animales.png" style="max-width: 50px; cursor:pointer" alt="Photo of 3 cats" >
      <img src="../../assets/imagenes/colores.jpg" style="max-width:50px; cursor:pointer" alt="Photo of 3 cats" >
      <img src="../../assets/imagenes/numeros.jpg" style="max-width:50px; cursor:pointer" alt="Photo of 3 cats" >
      </div>
      
      <!-- <ion-button size="small" color="dark" class="ion-float-right" [routerLink]="['/login']">DESCONECTARSE</ion-button> -->
      
      <!-- (click)="onlogout()" -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="divBotones">
    <ion-button expand="full">Full Button</ion-button>
    <ion-button expand="full">Full Button</ion-button>
    <ion-button expand="full">Full Button</ion-button>
    <ion-button expand="full">Full Button</ion-button>
    <ion-button expand="full">Full Button</ion-button>
  </div> -->
  <div class="box">
    <!-- <div class="row header">
        <p><b>header</b>
          <br />
          <br />(sized to content)</p>
      </div> -->
    <div class="row content">

      <ion-button *ngFor="let boton of botones;" expand="full">
        {{boton.nombre}}
      </ion-button>
      <!-- <ion-button expand="full">Full Button</ion-button>
      <ion-button expand="full">Full Button</ion-button>
      <ion-button expand="full">Full Button</ion-button>
      <ion-button expand="full">Full Button</ion-button> -->
    </div>
    <!-- <div class="row footer">
      <p><b>footer</b> (fixed height)</p>
    </div> -->
  </div>

</ion-content>